%h1 Spisak svih faktura

%table{:border => "1",:cellpadding => "0" , :cellspacing => "0" ,:width => "100%"}
  %tr
    %th Naziv
    %th Klijent
    %th
    %th
    %th

  - @fakturas.each do |faktura|
    %tr
      %td= faktura.naziv
      %td= faktura.klijent_id
      %td= link_to 'Prikaži', faktura
      %td= link_to 'Uredi', edit_faktura_path(faktura)
      %td= link_to 'Izbriši', faktura, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nova Faktura', new_faktura_path
